body{
  margin: 0;
  font-family: Arial,  sans-serif;
  background-color:#f8f9fa;

  width: 100%;
  height: 100%;

  align-items: center;
  flex-wrap: wrap;
  
  
}
.navbar{
  background-color:blueviolet !important ;
}
.nav-link{
  color:beige  ;
}
.navbar-brand{
  color:beige !important;
  margin-left: 20px;
}
.navbar-nav{
  margin-left: auto;
  margin-right: 20px;
}
.smallimg{
  height: 200px;
  width : 100% ;
  border-radius: 5px ;
}
h1{
  font-size: 20px ;
}
.btn{
  background-color:blueviolet !important ;
  color: beige !important ;
  box-shadow: none ;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30px ;
  border-radius: 5px ;
  padding: 20px ;
  margin-bottom: 30px ;

}
.bigimg{
  height:auto ;
  
  border-radius: 5px ;
}
input{
   
  margin-top: 30px ;
  border: 1px solid black ;
}
h2{
  font-size: 30px ;
  padding: 10px;
  font-weight :bold ;
  text-align: center;

}
.dropdown-toggle{
  border: 1px solid black ;
  
}
.datepicker{
  background-color:blueviolet;
  border-radius: 5px;
  
}
.landing{
  background-color: black;
  height: 100vh;
  padding-top: 130px;
  text-align:center ;
}
.landingbtn{
  background-color:blueviolet;
  margin-top: 20px;

}
.landing .col-md-12{
  border-bottom: 5px solid white;
  padding-bottom: 10px;

}


